<div class="element-speed">
  <div class="download-speed">
    <div class="describer">Download</div>
    <div class="wrapper">
      <div class="item">
        <div class="arrow-block">&darr;</div>
        <div class="speed-info">{{ tariffData.downloadSpeed }} Mbit/s</div>
      </div>
    </div>
  </div>
  <div class="upload-speed">
    <div class="describer">Upload</div>
    <div class="wrapper">
      <div class="item">
        <div class="arrow-block">&uarr;</div>
        <div class="speed-info">{{ tariffData.uploadSpeed }} Mbit/s</div>
      </div>
    </div>
  </div>
</div>
