body {
  background: white linear-gradient(to bottom, grey, white) no-repeat;
  background-size: 100% 1080px;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
